@charset "UTF-8";
/* reset:Start */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0
}

fieldset,
img {
    border: 0 none
}

dl,
ul,
ol,
menu,
li {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

input,
select,
textarea,
button {
    vertical-align: middle
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}

body {
    background: #fff;
    -webkit-text-size-adjust: none;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 13px;
    font-family: 'Nanum Gothic', Tahoma, sans-serif;
    font-weight: 400;
    color: #666
}

a {
    color: #666;
    text-decoration: none
}

a:active,
a:hover {
    text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: 400
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

legend,
caption,
.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

strong {
    font-weight: 600
}

.brand-logo {
    margin-left: -83.18px;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.login-wrap {
    max-width: 420px;
    margin: 0 auto;
}

.h1, .h2, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display:  block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 34px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


input[type="radio"]:checked + label {
    background: #204d74;
}


/*.btn.focus, .btn:focus, .btn:hover {*/
    /*color: #333;*/
/*}*/

.btn-primary:hover {
    color: #fff;
    background-color:#286090;
    border-color: #204d74;
}

.btn {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.help-block {
    display: block;
    margin:5px 0 10px 0;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #a94442;
}


.has-error .form-control {
    border-color:#a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* 모달 수정 */
.ReactModal__Overlay {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.75) !important;
    z-index: 10;
}

.ReactModal__Content {
    background: #fff;
    margin: 0 auto;
    position: static !important;
    border:none;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    padding: 20px;
    -webkit-overflow-scrolling: touch;
}

/* 캘린더 수정 */
.rbc-date-cell {
    text-align: left !important;
}

/* 버튼 정렬 */
.modal-wrap .modal-inner {
    display: inline-block;
    vertical-align: middle;
    padding:5px;
}

/* 캘린더 색 수정 */
.rbc-event.yellow {
    background:#ffc000;
}
.rbc-event.blue {
    background: #00b0f0;
}
.rbc-event.lightblue {
    background: #cdeeff;
}
.rbc-event.purple {
    background: #7030a0;
}
.rbc-event.green {
    background: #00823b;
}
.rbc-event.red {
    background: #ff0000;
}
.rbc-event.gray {
    background: #808080;
}
.rbc-event.black {
    background: #000;
}

.rbc-month-header .rbc-header:first-child,
.rbc-row .rbc-date-cell:first-child {
    color:#ff0000;
}

.rbc-month-header .rbc-header:last-child,
.rbc-row .rbc-date-cell:last-child {
    color: #108af3;
}
.rbc-date-cell a {
    display:block;
    vertical-align: middle;
    text-align: center;
    margin: 4px auto;
    font-size:12px;
    letter-spacing: 0.3px;
    width: 24px;
    height: 24px;
    line-height: 24px;
}
/*.rbc-date-cell.rbc-current a {*/
    /*background: #1967d2;*/
    /*text-align: center;*/
    /*color: #fff !important;*/
    /*border-radius: 50%;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
/*}*/


.btn-close:hover .material-icons {
    color: #000;
}