.list-wrap {
    display: flex;
}

.list-wrap dt {
    flex-basis: 120px;
}

.list-wrap dd {
    flex: 1 1 0;
}
.list-wrap input,
.list-wrap .material-icons {
    display: inline-block;
    vertical-align:middle;
}